version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    command: [ "python","-m","uvicorn","main:app","--host","0.0.0.0","--port","8000" ]
    ports: [ "8000:8000" ]
    restart: unless-stopped
    networks:
      - backend-net


  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    environment:
      WS_URL: ws://server:8000/api/audio/ws
      MSGS: ${MSGS:-1000}
      RATE_MS: ${RATE_MS:-10}
    command: [ "python","client.py" ]
    depends_on:
      - server
    restart: unless-stopped
    networks:
      - backend-net

networks:
  backend-net:
    driver: bridge
